<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.common.ejs', { subtitle: '' }); %>
<body>
    <%- include('partials/nav.common.ejs'); %>
    <main>
        <% contentList.forEach(function(contentItem){ %>
            <%- include('partials/content-preview.view.ejs', { ...contentItem }); %>
        <% }) %>
    </main>
    <%- include('partials/footer.view.ejs'); %>
    <%- include('partials/script.common.ejs'); %>
</body>
</html>