<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.common.ejs', { subtitle: '', description: '' }); %>
<body>
    <%- include('partials/nav.common.ejs', { showDescription: true }); %>
    <main>
        <% contentList.forEach(function(contentListObj){ %>
            <%- include('partials/content-preview.view.ejs', contentListObj); %>
        <% }) %>
    </main>
    <%- include('partials/footer.view.ejs', { prevContent: null, nextContent: null }); %>
    <%- include('partials/script.common.ejs'); %>
</body>
</html>